
@import url(http://fonts.googleapis.com/css?family=Boogaloo);


body { background: rgba(37,19,17,1) url(/images/bg.jpg) top center no-repeat;}
html {font-family: "Helvetica Neue", Helvetica, arial, sans-serif; color: #fff }

h1, h2, h3, h4, h5 { color: #45281C; text-shadow: 0px 1px 0px rgba(255,255,255,.3)}
h1, h2, h3 { font-family: 'Boogaloo', sans-serif;}

h1 { font-size: 48px; }
h1 small { color: #45281C}

h3 { font-size: 24px; font-weight:normal }

ul.photos { list-style:none; margin: 10px 0; padding:0; }
ul.photos li { width: 306px; height:306px; display:inline; margin:0; padding:0; float:left}

.image-frame { width: 306px; height: 306px; display:block; position:relative; overflow:hidden;}
.overlay { padding:5px 10px; position:absolute; bottom: 0; left: 0; right: 0px; height: 70px;background: rgba(0,0,0,0.5); color: #fff; z-index: 10}
.overlay h5 {font-size:14px; line-height:18px; padding:0; font-weight:normal; color: #f0f0f0; margin-bottom: 3px;}
.overlay .byline { font-size: 11px; color: #bbb; line-height: 14px; }

.date { float:left; margin-right: 15px; display:block; height: 60px; text-align:center}
.date h2 { font-size: 24px; font-weight:normal; color: #ccc; margin:0; line-height: 24px; text-shadow: 0px 1px 0px rgba(0,0,0,.3)}

footer, .page-header { border-color: #45281C}
footer { color: #45281C; text-shadow: 0px 1px 0px rgba(255,255,255,.1)}
footer a { color: #45281C; text-shadow: 0px 1px 0px rgba(255,255,255,.1); text-decoration:underline}

.page-header a { color: #45281C; text-decoration:underline }